@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);

  --body-font: "Outfit", sans-serif;
  --body-font-size: 0.9375rem;

  --font-regular: 500;
  --font-bold: 700;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: 1.6;
  background-color: var(--Light-gray);
  color: var(--Grayish-blue);
}

h3 {
  font-size: 1.8rem;
  color: var(--Dark-blue);
  font-weight: var(--font-bold);
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--White);
  width: 25rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem var(--Light-blue);
}

.card__image {
  width: 100%;
  border-radius: 1.2rem;
}

.card__title,
.card__description {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
